# Lesson 4 data filtering

## Задача 1.

---

**Задание:**

Напишите SQL-запрос к таблице `products` и выведите всю информацию о товарах, цена которых не превышает 100 рублей. Результат отсортируйте по убыванию цены.

Поля в результирующей таблице: `product_id`, `name`, `price`

---
Запрос

```sql
select
  product_id,
  name,
  price
from
  products
where
  price <= 100
order by
  price desc;
```