# Lesson 4 data filtering

## Задача 1.

---

**Задание:**

Напишите SQL-запрос к таблице `products` и выведите всю информацию о товарах, цена которых не превышает 100 рублей. Результат отсортируйте по убыванию цены.

Поля в результирующей таблице: `product_id`, `name`, `price`

---
Запрос

```sql
select
  product_id,
  name,
  price
from
  products
where
  price <= 100
order by
  price desc;
```

## Задача 2.

---
**Задание:**

В таблице `products` найдите все товары, содержащие в своём названии последовательность символов «чай» (без кавычек). Выведите две колонки: id продукта и его название.

Поля в результирующей таблице: `product_id`, `name`

```sql
select
  product_id,
  name
from
  products
WHERE
  name LIKE '%чай%';
```

## Задача 3.

---

**Задание:**

Выберите из таблицы `products` id и наименования только тех товаров, названия которых начинаются на букву «с» и содержат только одно слово.

Поля в результирующей таблице: `product_id`, `name`

```sql
select
  product_id,
  name
from
  products
where
  name LIKE 'с%_'
  and name NOT LIKE '% %';
```

## Задача 4.

---

Задание:

Составьте SQL-запрос, который выбирает из таблицы products все чаи стоимостью больше 60 рублей и вычисляет для них цену со скидкой в 25%. Скидку в % необходимо указать в отдельном столбце в формате текста, то есть вот так: «25%» (без кавычек). Столбцы со скидкой и новой ценой назовите соответственно discount и price_discounted.

Также необходимо любым известным способом избавиться от «чайного гриба»: вряд ли менеджер имел в виду и его, когда ставил нам задачу.

Поля в результирующей таблице: product_id, name, price, discount, price_discounted

```sql
SELECT
  product_id,
  name,
  price,
  '25%' as discount,
  (price / 100 * (100 -25)) as price_discounted
from
  products
where
  name LIKE 'чай%'
  and name NOT LIKE '% гр%'
  and price > 60;
```

## Задача 5
---
Задание:

Из таблицы user_actions выведите всю информацию о действиях пользователей с id 170, 200 и 230 за период с 25 августа по 4 сентября 2022 года включительно. Результат отсортируйте по времени совершения действия — от самых поздних действий к самым первым.

Поля в результирующей таблице: user_id, order_id, action, time

```sql
select
  user_id,
  order_id,
  action,
  time
from
  user_actions
where
  user_id in (170, 200, 230)
  and time BETWEEN '2022-08-25' and '2022-09-04  23:59:59+00000'
order by
  time DESC;
```

## Задача 6
---

Задание:

Напишите SQL-запрос к таблице couriers и выведите всю информацию о курьерах, у которых не указан их день рождения. Результат отсортируйте по возрастанию id.

Поля в результирующей таблице: birth_date, courier_id, sex

Запрос

```sql
select
  courier_id,
  birth_date,
  sex
from
  couriers
where
  birth_date is null
order by
  courier_id asc;
```