# Lesson 5 data aggregation

## Задача 1
---

Для начала решим простую задачу: выведите id всех уникальных пользователей из таблицы `user_actions`. Результат отсортируйте по возрастанию id.

Поле в результирующей таблице: `user_id`

```sql
SELECT DISTINCT user_id from user_actions ORDER BY user_id;
```

## Задача 2
---
Задание:

Примените DISTINCT сразу к двум колонкам таблицы courier_actions и отберите уникальные пары значений courier_id и order_id. Результат отсортируйте по двум колонкам по возрастанию сначала id курьера, затем id заказа.

Поля в результирующей таблице: courier_id, order_id

```sql
select DISTINCT courier_id, order_id from courier_actions ORDER BY courier_id, order_id;
```

## Задача 3
---

Задание:

Посчитайте максимальную и минимальную цены товаров в таблице products. Поля назовите соответственно max_price, min_price.

Поля в результирующей таблице: max_price, min_price

Запрос

```sql
select max(price) as max_price, min(price) as min_price from products;
```

## Задача 4
---
Задание:

С помощью COUNT(DISTINCT) посчитайте количество уникальных пользователей сервиса, количество уникальных заказов, поделите одно на другое и рассчитайте, сколько заказов приходится на одного пользователя. Показатель числа заказов на пользователя округлите до двух знаков после запятой при помощи функции ROUND, которую мы рассматривали в этой задаче.

В результирующей таблице отобразите все три значения — поля назовите соответственно unique_users, unique_orders, orders_per_user. Все расчёты проведите на основе таблицы user_actions.

Поля в результирующей таблице: unique_users, unique_orders, orders_per_user

```sql
select count(DISTINCT user_id) as unique_users, 
count(DISTINCT order_id) as unique_orders,
round(count(DISTINCT order_id) / count(DISTINCT user_id)::DECIMAL, 2) as orders_per_user
from user_actions
```

## Задача 5
---

Задание:

Посчитайте количество курьеров женского пола в таблице couriers. Полученный столбец назовите couriers_count.

Поле в результирующей таблице: couriers_count

```sql
select count(distinct courier_id) as couriers_count from couriers where sex='female';
```

## Задача 6

---
Задание

Посчитайте количество заказов в таблице orders с девятью и более товарами. Для этого воспользуйтесь функцией array_length, отфильтруйте данные по количеству товаров в заказе и проведите агрегацию. Полученный столбец назовите orders_count.

Поле в результирующей таблице: orders_count

Пояснение:

В наших данных в колонке product_ids содержатся обычные списки товаров всего с одной размерностью.

```sql
select count(order_id) as orders_count 
from orders 
where array_length(product_ids, 1) >= 9;
```

## Задача 7
---
Задание:

Рассчитайте среднюю цену товаров в таблице products, в названиях которых присутствуют слова «чай» и «кофе». Любым известным способом исключите из расчёта «иван-чай» и «чайный гриб». Среднюю цену округлите до двух знаков после запятой. Столбец с полученным значением назовите avg_price.

Поле в результирующей таблице: avg_price

Пояснение:

Помните, что порядком выполнения логических выражений можно управлять с помощью скобок. Это может пригодиться.

Запрос

```sql
select round(AVG(price), 2) as avg_price from products 
where 
name not like '%иван%' and 
name not like '%гриб' and 
name like '%чай%' or 
name like '%кофе%';
```

## Задача 8
---

Задание:

С помощью функции AGE() и агрегирующей функции рассчитайте возраст самого молодого курьера мужского пола в таблице couriers. Возраст измерьте количеством лет, месяцев и дней (как в примере) и переведите его в тип VARCHAR. В качестве даты, относительно которой считать возраст, используйте свою текущую дату (либо не указывайте её вовсе, как показано в примерах). Полученную колонку со значением возраста назовите min_age.

Поле в результирующей таблице: min_age

Запрос

```sql
select min(AGE(current_date, birth_date))::VARCHAR as min_age 
from couriers where sex='male';
```